<div class="d-flex h-100 text-black flex-column">
  <div class="d-flex w-100 text-center h-100 p-3 mx-auto flex-column">
    <h1>Festa da Padroeira</h1>
    <p class="lead">Bem-vindo(a) aos bastidores da 69ª Festa da Padroeira!</p>
  </div>

  <div
    class="container"
    style="
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%;
    "
  >
    <iframe
      style="
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
      "
      src="https://app.powerbi.com/view?r=eyJrIjoiMWI3NWI4ZDEtY2MzMC00MDk4LTlhYmMtZDNhMzI2ODMzNDA1IiwidCI6IjFiMzEwYjVkLWNjNjgtNDM4ZS1iMTI2LTVkNjgxNGM5MTUyZiJ9"
      frameborder="0"
      allowFullScreen="true"
    ></iframe>
  </div>
</div>
