<div class="d-flex h-100 text-black flex-column">
  <div class="d-flex w-100 text-center h-100 p-3 mx-auto flex-column">
    <h1>Festa da Padroeira</h1>
    <p class="lead">Bem-vindo(a) aos bastidores da 70ª Festa da Padroeira!</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Relatórios gerenciais</h2>
        <div class="row">
          <div *ngFor="let report of REPORTS" class="col-md-2">
            <h6>{{ report.name }}</h6>
            <a href="{{ report.url }}" class="btn btn-primary"> Exportar </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
