<div class="d-flex justify-content-between" id="main-content">
  <h1>Barracas</h1>
  <div>
    <form class="d-flex flex-row">
      <input
        #searchInput="ngModel"
        ngModel
        name="searchInput"
        id="searchInput"
        class="form-control"
        type="search"
        placeholder="Pesquisar barraca ..."
        aria-label="Search"
      />
      <button
        class="btn btn-secondary d-flex align-items-center"
        (click)="findAllStands(searchInput.value)"
        style="margin: 0 0.5vw"
      >
        <i class="fa fa-search" style="margin-right: 5px"></i> Pesquisar
      </button>
      <button
        class="btn btn-success d-flex align-items-center"
        (click)="modalStand()"
        type="button"
      >
        <i class="fa fa-plus" style="margin-right: 5px"></i> Nova
      </button>
    </form>
  </div>
</div>

<div class="d-flex justify-content-between" style="margin-top: 2%">
  <button class="btn btn-primary" (click)="previousPage()" [disabled]="!hasPreviousPage()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i> Anterior
  </button>
  <button class="btn btn-primary" (click)="nextPage()" [disabled]="!hasNextPage()">
    Próximo <i class="fa fa-arrow-right" aria-hidden="true"></i>
  </button>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th [appSort]="stands" data-order="desc" data-name="id" scope="col">ID</th>
      <th [appSort]="stands" data-order="desc" data-name="name" scope="col">Nome</th>
      <th [appSort]="stands" data-order="desc" data-name="manager" scope="col">Responsável</th>
      <th scope="col">Contato</th>
      <th class="text-center">Opções ...</th>
    </tr>
  </thead>
  <tbody class="align-middle">
    <tr *ngFor="let stand of stands">
      <th scope="row">{{ stand.id }}</th>
      <td>{{ stand.name }}</td>
      <td>{{ stand.manager?.name }}</td>
      <td>{{ stand.contact ? stand.contact : stand.manager?.phone }}</td>
      <td class="text-center">
        <!--
        <a class="btn btn-xs btn-primary" [routerLink]="['/stands', stand.id]" href="#">
          <i class="fa fa-eye" aria-hidden="true"></i> Estoque
        </a>
        -->
        <button style="margin: 0.2vh 1vh" class="btn btn-xs btn-info" (click)="modalStand(stand)">
          <i class="fa fa-edit" aria-hidden="true"></i> Editar
        </button>

        <button class="btn btn-xs btn-danger" (click)="deleteStand($event, stand)">
          <i class="fa fa-times" aria-hidden="true"></i> Excluir
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="alert alert-danger" *ngIf="!loading && !stands">Nenhuma barraca encontrada</div>
