<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #013357; margin-bottom: 2vh;">
  <div class="container-fluid">
    <img src="assets/nsaLogo.svg" alt="Nossa Senhora Aparecida" style="height: 50px; fill: azure" />
    <a class="navbar-brand" href="#">Almoxarifado Catedral</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link text-white" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['transactions']" href="#"><i class="fas fa-shipping-fast"></i> Movimentações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['stands']" href="#"><i class="fas fa-store"></i> Barracas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['products']" href="#"><i class="fas fa-dolly"></i> Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['people']" href="#"><i class="fas fa-user"></i> Pessoas</a>
        </li>
      </ul>
      <div class="nav" *ngIf="authenticatedUser">
        <button class="btn btn-link nav-link text-white" (click)="logout()">
          <i class="fas fa-sign-out-alt"></i> Sair
        </button>
        <div class="nav-link text-white">
          <i class="fa fa-user"></i> {{ authenticatedUser.person?.name || authenticatedUser.username }}
        </div>
      </div>
    </div>
  </div>
</nav>
