<h1>Movimentações</h1>

<div class="d-flex flex-wrap justify-content-between" style="margin-top: 2%">
  <div class="d-flex flex-row" id="leftSide">
    <div id="create">
      <button
        class="btn btn-success d-flex align-items-center"
        (click)="modalTransaction()"
        type="button"
      >
        <i class="fa fa-plus" style="margin-right: 5px"></i> Nova
      </button>
    </div>
    <div id="filters" style="margin-left: 0.25rem">
      <button
        class="btn btn-secondary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#filtersCollapse"
        aria-expanded="false"
        aria-controls="filtersCollapse"
      >
        Filtros <i class="fa fa-filter"></i>
      </button>
    </div>
  </div>
  <div id="rightSide">
    <div id="pagination">
      <button class="btn btn-primary" (click)="previousPage()" [disabled]="!hasPreviousPage()">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Anterior
      </button>
      <button class="btn btn-primary" (click)="nextPage()" [disabled]="!hasNextPage()">
        Próximo <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div id="filtersCollapse" class="collapse">
  <form (submit)="findAllTransactions()">
    <div class="d-flex flex-row flex-wrap">
      <div class="form-group">
        <label for="searchInput">Texto</label>
        <input
          #searchInput="ngModel"
          [(ngModel)]="queryFilter"
          name="searchInput"
          id="searchInput"
          class="form-control"
          type="search"
          placeholder="Termo para pesquisa ..."
          aria-label="Pesquisar"
        />
      </div>

      <div class="form-group">
        <label for="startDate">Data Inicial</label>
        <input
          [(ngModel)]="startDateFilter"
          type="datetime-local"
          class="form-control"
          name="startDate"
          placeholder="Data Inicial"
        />
      </div>
      <div class="form-group">
        <label for="endDate">Data Final</label>
        <input
          [(ngModel)]="endDateFilter"
          type="datetime-local"
          class="form-control"
          name="endDate"
          placeholder="Data Final"
        />
      </div>

      <div class="form-group">
        <label for="typeFilter">Tipo de movimentação</label>
        <ng-select
          [items]="transactionTypes"
          bindLabel="name"
          (change)="handleSelectTransactionTypeFilter($event)"
          #typeFilter
          name="type"
          placeholder="Selecione ..."
        ></ng-select>
      </div>

      <div class="align-self-end" style="margin-left: 0.25rem">
        <button class="btn btn-primary" type="submit" (click)="findAllTransactions()">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </form>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th [appSort]="transactions" data-order="desc" data-name="id" scope="col">ID</th>
      <th [appSort]="transactions" data-order="desc" data-name="datetime" scope="col">Data</th>
      <th scope="col">De</th>
      <th scope="col">Para</th>
      <th scope="col">Responsável</th>
      <th scope="col">Produto</th>
      <th [appSort]="transactions" data-order="desc" data-name="quantity" scope="col">
        Quantidade
      </th>
      <th [appSort]="transactions" data-order="desc" data-name="price" scope="col">Valor</th>
      <th scope="col">Obs.</th>
      <th *ngIf="authUser?.is_staff" class="text-center">Opções ...</th>
    </tr>
  </thead>

  <tbody class="align-middle">
    <tr *ngFor="let transaction of transactions">
      <th
        scope="row"
        (click)="modalTransaction(transaction)"
        class="use-pointer"
        data-toggle="tooltip"
        title="Editar movimentação {{ transaction.id }}"
        data-placement="top"
      >
        {{ transaction.id }}
      </th>
      <td>
        {{ transaction.datetime | date: "dd/MM/yyyy HH:mm" }}
      </td>
      <td>{{ transaction.from_stand?.name }}</td>
      <td>{{ transaction.to_stand?.name }}</td>
      <td>{{ transaction.person?.name }}</td>
      <td>{{ transaction.product?.name }}</td>
      <td>
        <i *ngIf="transaction.operation == 'E'" class="fa fa-arrow-up text-success"></i>
        <i *ngIf="transaction.operation == 'S'" class="fa fa-arrow-down text-danger"></i>
        {{ transaction.quantity }}
        {{ normalizedMeasurementUnitName(transaction) }}
      </td>
      <td>{{ transaction.price | currency }}</td>
      <td>{{ transaction.details }}</td>
      <td class="text-center">
        <button class="btn btn-xs btn-info" (click)="modalTransaction(transaction)">
          <i class="fa fa-edit" aria-hidden="true"></i> Editar
        </button>
        <button
          *ngIf="authUser?.is_staff"
          class="btn btn-xs btn-danger"
          (click)="deleteTransaction($event, transaction)"
        >
          <i class="fa fa-times" aria-hidden="true"></i> Excluir
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="alert alert-danger" *ngIf="!loading && !transactions">
  Nenhuma movimentação encontrada
</div>
