<div class="d-flex justify-content-between" id="main-content">
  <h1>Movimentações</h1>
  <div>
    <form class="d-flex flex-row">
      <input #searchInput="ngModel" ngModel (ngModelChange)="pesquisarTransaction(searchInput.value)" name="searchInput"
        id="searchInput" class="form-control" type="search" placeholder="Pesquisar movimentação ..."
        aria-label="Pesquisar" />
      <button class="btn btn-secondary d-flex align-items-center" (click)="findAllTransactions()"
        style="margin: 0 10px">
        <i class="fa fa-sync" style="margin-right: 5px"></i> Atualizar
      </button>
      <button class="btn btn-success d-flex align-items-center" (click)="modalTransaction()" type="button">
        <i class="fa fa-plus" style="margin-right: 5px"></i> Nova
      </button>
    </form>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th [appSort]="transactions" data-order="desc" data-name="id" scope="col">
        ID
      </th>
      <th [appSort]="transactions" data-order="desc" data-name="datetime" scope="col">
        Data
      </th>
      <th scope="col">Stand</th>
      <th scope="col">Responsável</th>
      <th scope="col">Product</th>
      <th [appSort]="transactions" data-order="desc" data-name="quantity" scope="col">
        Quantidade
      </th>
      <th [appSort]="transactions" data-order="desc" data-name="price" scope="col">
        Valor
      </th>
      <th scope="col">Obs.</th>
      <th *ngIf="authUser?.is_staff" class="text-center">
        Opções ...
      </th>
    </tr>
  </thead>

  <tbody class="align-middle">
    <tr *ngFor="let transaction of transactions">
      <th scope="row">{{ transaction.id }}</th>
      <td>
        {{ transaction.datetime | date: 'dd/MM/yyyy HH:mm' }}
      </td>
      <td>{{ transaction.stand?.name }}</td>
      <td>{{ transaction.person?.name }}</td>
      <td>{{ transaction.product?.name }}</td>
      <td>
        {{ transaction.quantity }}
        {{ transaction.product?.measurement_unit?.abbreviation }}
      </td>
      <td>{{ transaction.price | currency }}</td>
      <td>{{ transaction.details }}</td>
      <td *ngIf="authUser?.is_staff" class="text-center">
        <button class="btn btn-xs btn-info" (click)="modalTransaction(transaction)">
          <i class="fa fa-edit" aria-hidden="true"></i> Editar
        </button>
        <a class="btn btn-xs btn-danger" href="#" (click)="excluirTransaction($event, transaction)"><i
            class="fa fa-times" aria-hidden="true"></i> Excluir</a>
      </td>
    </tr>
  </tbody>
</table>

<div class="alert alert-danger" *ngIf="!transactions || transactions?.length == 0">
  Nenhuma movimentação encontrada
</div>
