<div class="modal-header">
  <h5 class="modal-title">
    {{ person.name! ? person.name : "Criar Pessoa" }}
  </h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Fechar"
    (click)="activeModal.dismiss()"
  ></button>
</div>

<div class="modal-body">
  <form #personForm="ngForm">
    <div class="form-group">
      <label for="name">Nome: </label>
      <input
        [(ngModel)]="person.name"
        #name="ngModel"
        class="form-control"
        id="nome_input"
        name="name"
        type="text"
        placeholder="Digite o nome da pessoa"
        required
      />
    </div>
    <div class="form-group">
      <label for="document">Documento: </label>
      <input
        class="form-control"
        [(ngModel)]="person.document"
        #document="ngModel"
        name="document"
        type="text"
        placeholder="Digite o documento da pessoa"
      />
    </div>
    <div class="form-group">
      <label for="contact">Telefone: </label>
      <input
        class="form-control"
        [(ngModel)]="person.phone"
        #contact="ngModel"
        name="contact"
        type="text"
        placeholder="Digite o telefone de contato da pessoa"
      />
    </div>
    <div class="form-group">
      <label for="stand">Barraca: </label>
      <ng-select
        [items]="stands"
        bindLabel="name"
        [(ngModel)]="person.stand"
        placeholder="Selecione a barraca"
        #stand="ngModel"
        (search)="findStands($event.term)"
        notFoundText="Nenhuma barraca encontrada"
      >
        name="stand">
      </ng-select>
    </div>
    <div class="form-check form-switch">
      <label for="name">Pessoa Jurídica</label>
      <input
        [(ngModel)]="person.isBusiness"
        #isBusiness="ngModel"
        type="checkbox"
        name="isBusiness"
        value="true"
        id="fisica_input"
        class="form-check-input"
      />
    </div>
  </form>
  <div class="d-grid gap-2">
    <button
      [disabled]="!personForm.form.valid"
      type="button"
      style="margin-top: 20px"
      class="btn btn-primary"
      (click)="submitForm()"
    >
      <i class="fa fa-save" aria-hidden="true"></i>
      Salvar
    </button>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Fechar</button>
</div>
